[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
gunicorn = "*"
pytest-django = "*"
pytest = "*"
pytest-cov = "*"
coverage = "*"
python-decouple = "*"
dj-database-url = "*"
psycopg2-binary = "*"
django-s3-folder-storage = "*"
boto3 = "*"
django-storages = "*"
awscli = "*"
collectfast = "*"
django-debug-toolbar = "*"
django-cors-headers = "*"

[dev-packages]
flake8 = "*"

[requires]
python_version = "3.10"
