{% extends 'base/base.html' %}
{% load static %}
{% block title %}Python Pro - Videos{% endblock title %}
{% block description %}Página com todos os videos{% endblock description %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="mt-4 mb-3">Lista de Vídeos</h1>
            <ol>
                {% for video in videos %}
                <li><a href="{{ video.get_absolute_url }}">{{ video.titulo | default:"Missing title" }}</a></li>
                {% empty %}
                <li>Não foram encontrados nenhum video.</li>
                {% endfor %}
            </ol>
            <div style="padding:56.25% 0 0 0;position:relative;">
            </div>
            <script src="https://player.vimeo.com/api/player.js"></script>
        </div>
    </div>
</div>
{% endblock body %}